#header {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    border-bottom: rgba(0, 0, 0, 0.05) 1px solid;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) !important;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) !important;
    -webkit-transition: all .800s;
    -moz-transition: all .800s;
    -o-transition: all .800s;
    transition: all .800s;
}

#header a.logo>img {
    height: 60px;
    -webkit-transition: all .300s;
    -moz-transition: all .300s;
    -o-transition: all .300s;
    transition: all .300s;
}

#header a.logo.logo-responsive>img {
    height: 100%;
    /* used on center - example: page-coming-soon-1.html */
}


/* force uppercase links */

#topBar ul li a,
#mainMenu ul li a,
#topMain ul li a {
    text-transform: uppercase;
}


/* two logo images : light & dark */

#header a.logo>img:last-child {
    display: none;
}

#header a.logo>img:first-child {
    display: inline-block;
}

#header.fixed a.logo>img:first-child {
    display: none;
}

#header.fixed a.logo>img:last-child {
    display: inline-block;
}


/* shadows */

#header.shadow-after-1:before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    bottom: -60px;
    background-image: url("../images/misc/shadow1.png");
    background-size: 100% 100%;
}

#header.shadow-before-1:before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background-image: url("../images/misc/shadow1.png");
    background-size: 100% 100%;
}

#header.shadow-after-2:before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    bottom: -60px;
    background-image: url("../images/misc/shadow2.png");
    background-size: 100% 100%;
}

#header.shadow-before-2:before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background-image: url("../images/misc/shadow2.png");
    background-size: 100% 100%;
}

#header.shadow-after-3:before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    bottom: -60px;
    background-image: url("../images/misc/shadow3.png");
    background-size: 100% 100%;
}

#header.shadow-before-3:before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background-image: url("../images/misc/shadow3.png");
    background-size: 100% 100%;
}


/** Search - Default
	 ********************** **/

#header li.search {
    display: inline-block;
}

#header li.search .search-box {
    display: none;
    right: 0;
    left: auto;
    top: 100%;
    padding: 15px;
    background-color: #fff;
    position: absolute;
    box-shadow: 5px 5px rgba(91, 91, 91, 0.2);
    width: 274px;
    margin-top: 36px;
    z-index: 22;
}

#header.header-md li.search .search-box {
    margin-top: 25px;
}

#header.header-sm li.search .search-box {
    margin-top: 19px;
}

#header.fixed li.search .search-box {
    margin-top: 18px;
}

#header.fixed.header-sm li.search .search-box {
    margin-top: 18px;
}

#header.fixed.header-md li.search .search-box {
    margin-top: 15px;
}

#header li.search i.fa {
    color: #333;
    cursor: pointer;
    position: relative;
}

form.mobile-search {
    display: none;
}


/** Search - Fullscreen
	 ********************** **/

#header li.search.fullscreen>.search-box {
    text-align: center;
    position: fixed;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.95) !important;
    left: 0;
    top: 0 !important;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    z-index: 2000;
}

#header li.search.fullscreen>.search-box>form {
    max-width: 800px;
    display: inline-block;
    margin: auto;
    margin-top: 20%;
}

#header li.search.fullscreen>.search-box>form input {
    border: 0;
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 15px;
    padding-bottom: 15px;
    height: 65px;
    font-size: 24px;
    font-weight: 300;
    color: #121212;
    border-right: rgba(0, 0, 0, 0.2) 1px solid;
}

#header li.search.fullscreen>.search-box>form button {
    border: 0;
    font-size: 24px;
    padding: 15px 20px !important;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #888;
}

#header li.search.fullscreen>.search-box>form button>i {
    color: #999;
    font-size: 22px;
}

#header li.search.fullscreen>.search-box>form button:hover>i {
    color: #121212;
}

#header li.search.fullscreen #closeSearch {
    background-color: rgba(0, 0, 0, 0.05);
    text-decoration: none;
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    top: -3px;
    left: 50%;
    margin-left: -30px;
    color: #888;
    font-size: 40px;
    z-index: 1000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#header li.search.fullscreen #closeSearch:hover {
    color: #111;
}


/* Dark */

#header li.search.fullscreen.dark>.search-box {
    background-color: rgba(0, 0, 0, 0.95) !important;
}

#header li.search.fullscreen.dark>.search-box>form input {
    color: #ddd;
    background-color: rgba(255, 255, 255, 0.1);
    border-right-color: rgba(255, 255, 255, 0.2);
}

#header li.search.fullscreen.dark>.search-box>form button {
    background-color: rgba(255, 255, 255, 0.1);
}

#header li.search.fullscreen.dark>.search-box>form button>i {
    color: #999;
}

#header li.search.fullscreen.dark>.search-box>form button:hover>i {
    color: #fff;
}

#header li.search.fullscreen.dark #closeSearch {
    background-color: rgba(255, 255, 255, 0.2);
    color: #888;
}

#header li.search.fullscreen.dark #closeSearch:hover {
    color: #fff;
}

@media only screen and (max-width: 480px) {
    #header li.search.fullscreen>.search-box>form {
        margin-top: 30%;
    }
}

@media only screen and (max-height: 400px) {
    #header li.search.fullscreen>.search-box>form {
        margin-top: 60px;
    }
}


/** Search - Header
	 ********************** **/

#header .search-box.over-header {
    text-align: center;
    position: absolute;
    padding: 0;
    background-color: #fff !important;
    left: 0;
    top: 0 !important;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    z-index: 2000;
    border: 0;
    display: none;
}

#header .search-box.over-header>form {
    display: block;
    z-index: 0;
}

#header .search-box.over-header>form>input {
    font-size: 32px;
    font-weight: bold;
    background-color: transparent;
    height: inherit;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -30px;
    padding-left: 40px;
    padding-right: 60px;
    border: 0;
    box-shadow: none;
}

#header .search-box.over-header>form>input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #666;
    text-transform: uppercase;
}

#header .search-box.over-header>form>input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #666;
    text-transform: uppercase;
}

#header .search-box.over-header>form>input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #666;
    text-transform: uppercase;
}

#header .search-box.over-header>form>input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #666;
    text-transform: uppercase;
}

#header .search-box.over-header #closeSearch {
    position: absolute;
    right: 0;
    color: #333;
    background: transparent;
    top: 50%;
    right: 30px;
    font-size: 20px;
    margin-top: -10px;
    z-index: 1;
}


/* dark */

#header.dark .search-box.over-header {
    background-color: #333 !important;
}

#header.dark .search-box.over-header>form>input {
    color: #fff;
}

#header.dark .search-box.over-header>form>input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #ddd;
    text-transform: uppercase;
}

#header.dark .search-box.over-header>form>input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ddd;
    text-transform: uppercase;
}

#header.dark .search-box.over-header>form>input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ddd;
    text-transform: uppercase;
}

#header.dark .search-box.over-header>form>input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #ddd;
    text-transform: uppercase;
}

#header.dark .search-box.over-header #closeSearch {
    color: #fff;
}

#header.translucent #topMain,
#header.dark.transparent #topMain {
    background-color: transparent;
}

@media only screen and (max-height: 760px) {
    #header .search-box.over-header>form>input {
        font-size: 20px;
        margin-top: -20px;
        font-weight: 300;
    }
}


/** Mobile Button
	 ********************** **/

#topNav button.btn-mobile {
    display: none;
}

#topNav button.btn-mobile {
    /*color:#333;*/
    color: #fff;
    display: none;
    padding: 6px 10px;
    float: right;
    margin-top: 13px;
    margin-right: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#topNav button.btn-mobile i {
    padding: 0;
    margin: 0;
    font-size: 21px;
}

@media only screen and (max-width: 992px) {
    #topNav button.btn-mobile {
        display: inline-block;
    }
}

#topMain>li>a {
    height: 96px;
    line-height: 76px;
}

#topMain.nav-pills>li>a {
    color: #1F262D;
    font-weight: 400;
    background-color: transparent;
}

#topMain.nav-pills>li:hover>a,
#topMain.nav-pills>li:focus>a {
    color: #1F262D;
    background-color: rgba(0, 0, 0, 0.03);
}

#topMain.nav-pills>li.active>a {
    color: #F07057;
}

#topMain.nav-pills>li>a.dropdown-toggle {
    padding-right: 25px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#topMain.nav-pills>li>a.dropdown-toggle:after {
    display: block;
    content: "\f107";
    position: absolute;
    top: 50%;
    right: 10px;
    margin: -5px 0 0;
    font-family: FontAwesome;
    font-size: 12px;
    opacity: .3;
    line-height: 1em;
    -webkit-transition: -webkit-transform .2s ease-in;
    -moz-transition: -moz-transform .2s ease-in;
    -ms-transition: -ms-transform .2s ease-in;
    -o-transition: -o-transform .2s ease-in;
    transition: transform .2s ease-in;
}

#header.bottom.dropup #topMain.nav-pills>li>a.dropdown-toggle:after {
    content: "\f106";
}

#topNav .navbar-collapse {
    float: right;
}

#topNav a.logo {
    height: 96px;
    line-height: 96px;
    overflow: hidden;
    display: inline-block;
}

@media only screen and (max-width: 1215px) {
    #topMain.nav-pills>li>a {
        font-size: 13px;
    }
}

@media only screen and (max-width: 992px) {
    /* Force 60px */
    #header {
        height: 60px !important;
    }
    #header #topNav a.logo {
        height: 60px !important;
        line-height: 60px !important;
    }
    #header #topNav a.logo>img {
        max-height: 30px !important;
    }
    #header #topNav #topMain>li>a {
        height: 40px !important;
        line-height: 40px !important;
        padding-top: 0;
    }
    #topMain>li {
        border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    }
    #topMain>li:last-child {
        border-bottom: 0;
    }
    #header li.search .search-box {
        margin: 0 !important;
        position: fixed;
        left: 0;
        right: 0;
        top: 60px !important;
        width: 100%;
        background-color: #fff;
        border-top: rgba(0, 0, 0, 0.1) 1px solid;
    }
}